# Ne pas ignorer README.md
!README.md
# Ignorer les fichiers main.c spécifiquement
*main.c
# Ignorer les fichiers de sortie générés par GCC
*.exe
# Ignorer les fichiers de sauvegarde de l'éditeur
*~
*.bak
# Ignorer les fichiers de log générés par les tests ou le débogage
*.log
#ignore les fichiers .out
*.out
# Ignorer les fichiers main.c spécifiquement
*main.py
main_00_abc.py
main_01_duck_typing.py 
main_02_verboselist.py
main_03_countediterator.py
main_04_flyingfish.py
main_05_dragon.py

# Ignorer les generations de cache
__pycache__